.app_dark_theme {
    --bg-color: #070753;
    --inverted-bg-color: #b4b4ba;
    --primary-color: #169612;
    --secondary-color: #3ce237;
    --inverted-primary-color: #0d3373;
    --inverted-secondary-color: #4250db;
}
