:root {
    --bg-color: #b4b4ba;
    --inverted-bg-color: #070753;
    --primary-color: #0d3373;
    --secondary-color: #4250db;
    --inverted-primary-color: #169612;
    --inverted-secondary-color: #3ce237;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #d5d5d7;

    // listbox
    --listbox-bg: #d5d5d7;
}
